.selector-action {
    margin: 0;
    padding: 0;
    z-index: 2;
    position: absolute;
    font-size: 1.3vmin;
    width: 100%;
    height: 100%;
    list-style: none;
    line-height: 5vmin;
    border-radius: 10%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background: #2c2c2fdf;
    backdrop-filter: blur(10px);
}

.selector-action-enter {
    opacity: 0;
}
.selector-action-enter-active {
    opacity: 1;
    transition: opacity 200ms;
}
.selector-action-exit {
    opacity: 1;
}
.selector-action-exit-active {
    opacity: 0;
    transition: opacity 200ms;
}

.selector-action li {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.selector-action li:not(:last-child) {
    border-bottom: 2px solid #262628;
}